html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Navbar Style Start */
nav.bg-nav{
    background-color: #00283A;
}
nav .navbar-brand{
    color: #fff;
    font-family: forte;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    transition: all ease-in-out 0.3s;
}
nav .navbar-brand:hover{
    color: #AFB42B;
}
nav .navbar-nav .nav-item .nav-link{
    padding: 20px 15px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(#AFB42B, #AFB42B), linear-gradient(#00283A, #00283A);
    background-size: 0 3px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
}
nav .navbar-nav .nav-item .nav-link:hover{
    color: #AFB42B;
    background-size: 100% 3px, auto;
}
.navbar-nav .nav-link.active{
    color: #AFB42B;
    background-size: 100% 3px, auto;
}
/* Navbar Style End */